<% include ../partials/header %>

        <!-- banner goes here -->
        <section class="banner">
          <div class="innerBanner-bg" style="background-image: url(images/innerpage-banner-bg.jpg);">
            <div class="container">
              <div class="banner-text">
                <h1 class="pageTitle">Register</h1>
                <div class="breadcrumb-wrap">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item active">Register</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- banner ends here -->
        
            <!--Flash Mesages starts here-->
              <div class="container">
                  <% if(error && error.length > 0){ %>
                      <div class="alert alert-danger" role="alert">
                          <%= error %>
                      </div>
                  <% } %>
                  <% if(success && success.length > 0){ %>
                      <div class="alert alert-success" role="alert">
                          <%= success %>
                      </div>
                  <% } %>
              </div>
            <!--Flash Mesages ends here-->
        

<section>
    <div class="container">
        <form action="/register" method="POST">
            <div class="form-group">
                <input class="form-control" type='text' placeholder='username' name='username'>
            </div>        
            <div class="form-group">
                <input class="form-control" type='text' placeholder='password' name='password'>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit !!</button>
            </div>
        </form>
    </div>
</section>
<br><br><br>



<% include ../partials/footer %>