        <!-- footer starts here -->
        <footer class="main-footer">
          <div class="footer-top">
            <div class="container">
              <div class="row">
                <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                  <div class="contact-box text-center">
                    <span class="contact-icon"><i class="fas fa-phone"></i></span>
                    <span class="contact-text">Call +61 2 4932 3582<a href="+61249323582"></a></span>
                  </div>
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                  <div class="contact-box text-center">
                    <span class="contact-icon"><i class="fas fa-map-marker-alt"></i></span>
                    <span class="contact-text">178 Racecourse Road Rutherford, NSW 2320 Australia</span>
                  </div>
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                  <div class="contact-box text-center">
                    <span class="contact-icon"><i class="fas fa-envelope"></i></span>
                    <span class="contact-text"><a href="mailto:geology@groundsearch.com.au">geology@groundsearch.com.au</a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="container">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-5 copyright">
                  <p>Copyright © 2018 - <a>Ground Search Australia</a></p>
                </div>
                <div class="hidden-md-down col-md-7 col-lg-7 footer-nav">
                  <ul class="nav">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/for-sale">For-Sale</a></li>
                        <% if(!currentUser) { %>
                            <li><a href='/login'>Login</a></li>
                        <% } else { %>
                            <li><a href="#"> Signed in as <%=currentUser.username%> </a></li>
                            <li><a href='/logout'>Logout</a></li>
                      <% } %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </footer>
      <script type="text/javascript" src="https://goo.gl/maps/tz5NyN6vLur"></script>
       <!--<script src="/scripts/vendor.js"></script>-->
       <!--<script src="/scripts/plugins.js"></script>-->
       <!--<script src="/scripts/main.js"></script>-->
  </body>
</html>