<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Groudsearch Australia | Home</title>
    <link rel="stylesheet" href="/styles/main.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js">
    </script>
  </head>
  <body>
              <!-- header starts here -->
        <header class="header">
          <div class="container">
            <div class="logo">
              <a href="/home"><img src="/images/logo.png" alt="Logo"></a>
            </div>
          </div>
        </header>
        <nav class="navigation">
          <div class="container">
            <div class="row">
              <div class="col-12 col-sm-10 col-md-10 col-lg-10">
                <div class="nav-wrap">
                  <div class="navbar navbar-toggleable-md">
                    <div class="collapse navbar-collapse">
                      <ul class="nav-bar nav">
                        <li><a href="/home">Home</a></li>
                        <li class="active"><a href="/about">About</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/for-sale">For Sale</a></li>
                      </ul>
                    </div>  
                  </div>
                </div>
              </div>
            </div>
          </div>                                                                            
        </nav>
        <!-- header ends here -->

      