<% include partials/header %>

        <!-- banner goes here -->
        <section class="banner">
          <div class="innerBanner-bg" style="background-image: url(images/innerpage-banner-bg.jpg);">
            <div class="container">
              <div class="banner-text">
                <h1 class="pageTitle">About us</h1>
                <div class="breadcrumb-wrap">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item active">About Us</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- banner ends here -->


        <!-- "COUNTER" block ends here -->
        <section class="counting-block js-countRow">
          <div class="container">
            <div class="row">
              <div class="col-12 col-sm-3 col-md-3 col-lg-3 count-box">
                <h2 class="countCustomer js-countup" data-count="5468">5468</h2>
                <h3>Customers</h3>
              </div>
              <div class="col-12 col-sm-3 col-md-3 col-lg-3 count-box">
                <h2 class="countPurchase js-countup" data-count="2357">2357</h2>
                <h3>Purchases</h3>
              </div>
              <div class="col-12 col-sm-3 col-md-3 col-lg-3 count-box">
                <h2 class="countDesign js-countup" data-count="1576">1576</h2>
                <h3>Designs</h3>
              </div>
              <div class="col-12 col-sm-3 col-md-3 col-lg-3 count-box">
                <h2 class="countPost js-countup" data-count="2135">2135</h2>
                <h3>Support Posts</h3>
              </div>
            </div>
          </div>
        </section>
        <!-- "COUNTER" block ends here -->

        <!-- "MEET OUR TEAM" block goes here -->
        <section class="content content-gap-top js-teamSlider">
          <div class="container">
            <div class="content-title">
              <h2 class="title"><span>Years of Expertise</span>Meet our team</h2>
            </div>
            <div class="teamslider-wrapper">
              <div class="row js-teamSlick">
                <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                  <div class="team-box">
                    <a href="#">
                      <span class="member-img"><img src="images/member01.jpg" alt="Member Image" class="lazy"></span>
                      <span class="member-name">John Lee</span>
                      <span class="member-position">Founder</span>
                    </a>
                  </div>
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                  <div class="team-box">
                    <a href="#">
                      <span class="member-img"><img src="images/member02.jpg" alt="Member Image" class="lazy"></span>
                      <span class="member-name">Michael Bell</span>
                      <span class="member-position">Founder</span>
                    </a>
                  </div>
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                  <div class="team-box">
                    <a href="#">
                      <span class="member-img"><img src="images/member03.jpg" alt="Member Image" class="lazy"></span>
                      <span class="member-name">Andrew Wood</span>
                      <span class="member-position">Founder</span>
                    </a>
                  </div>
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                  <div class="team-box">
                    <a href="#">
                      <span class="member-img"><img src="images/member04.jpg" alt="Member Image" class="lazy"></span>
                      <span class="member-name">Peggy Sullivan</span>
                      <span class="member-position">Founder</span>
                    </a>
                  </div>
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                  <div class="team-box">
                    <a href="#">
                      <span class="member-img"><img src="images/member05.jpg" alt="Member Image" class="lazy"></span>
                      <span class="member-name">Lucia Yates</span>
                      <span class="member-position">Founder</span>
                    </a>
                  </div>
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                  <div class="team-box">
                    <a href="#">
                      <span class="member-img"><img src="images/member06.jpg" alt="Member Image" class="lazy"></span>
                      <span class="member-name">Barry Holland</span>
                      <span class="member-position">Founder</span>
                    </a>
                  </div>
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                  <div class="team-box">
                    <a href="#">
                      <span class="member-img"><img src="images/member07.jpg" alt="Member Image" class="lazy"></span>
                      <span class="member-name">Kristi Delgado</span>
                      <span class="member-position">Founder</span>
                    </a>
                  </div>
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                  <div class="team-box">
                    <a href="#">
                      <span class="member-img"><img src="images/member08.jpg" alt="Member Image" class="lazy"></span>
                      <span class="member-name">Warren Martin</span>
                      <span class="member-position">Founder</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="consultant-wrapper">
              <div class="consult-box">
                <div class="box-img">
                  <img src="images/consultant-image.png" alt="Consultant Girl Image" class="lazy">
                </div>
                <div class="text">
                  <h3>GET YOUR FREE CONSULTANT</h3>
                  <p>Request a free, no-obligation consultation with a member of our team to discuss how GroundSearch Australia can help your business today
                   </p>
                </div>
                <div class="btn-group">
                  <a href="/contact" class="btn purple-btn">Contact</a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- "MEET OUR TEAM" block ends here -->

      

      

<script>
 $('#about-button').addClass("active"); 
</script>
<script>
 $('#sm-about-button').addClass("active-smaller-header-list"); 
</script>

<% include partials/footer %>