<% include partials/header %>

<h1>About Block</h1>

      

      

<script>
 $('#about-button').addClass("active"); 
</script>
<script>
 $('#sm-about-button').addClass("active-smaller-header-list"); 
</script>

<% include partials/footer %>