<% include partials/header %>

<h1>Blog Button</h1>


<script>
 $('#blog-button').addClass("active"); 
</script>
<script>
 $('#sm-blog-button').addClass("active-smaller-header-list"); 
</script>

<% include partials/footer %>