<% include partials/header %>

    <!-- banner goes here -->
        <section class="banner">
          <div class="innerBanner-bg" style="background-image: url(images/innerpage-banner-bg.jpg);">
            <div class="container">
              <div class="banner-text">
                <h1 class="pageTitle">For-Sale</h1>
                <div class="breadcrumb-wrap">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item active">For-Sale</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- banner ends here -->


<script>
 $('#for-sale-button').addClass("active"); 
</script>
<script>
 $('#sm-for-sale-button').addClass("active-smaller-header-list"); 
</script>

<% include partials/footer %>