<% include partials/header %>

        <!-- "WHO WE ARE" block goes here -->
        <section class="content content-who">
          <div class="container">
            <div class="content-title">
              <h2 class="title"><span>Few words about</span>Who we are</h2>
            </div>
            <p>Groundsearch Australia is an Australian-owned company that was formed in 1992 as a broad-based, independent consulting and contracting group. Formed out of a passion for mining exploration and data acqusition, we serve some of the world's major companies with excellence all around the globe.
            </p>
            <img src="/images/test.png" alt="Who We Are" class="lazy" id="Who-We-Are-Image">
          </div>
        </section>
        <!-- "WHO WE ARE" block ends here -->
        
        <!-- "CLIENT GALLERY" block ends here -->
        <section class="content client-gallery">
          <div class="container">
            <div class="content-title">
              <h2 class="title"><span>Our Partners</span>Our Clients</h2>
            </div>
            <div class="row">
              <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                <div class="client-imgbox">
                  <a href="https://www.agl.com.au"><img src= "images/AGL_Energy_logo.png" alt="AGL Logo" class="lazy"></a>
                </div>
              </div>
              <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                <div class="client-imgbox">
                  <a href="https://www.industry.nsw.gov.au"><img src="images/NSW_Depatement_Of_Industry.png" alt="NSW Deparement of Industry Logo" class="lazy"></a>
                </div>
              </div>
              <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                <div class="client-imgbox">
                  <a href="https://www.riotinto.com"><img src="/images/RioTinto_Logo.png" alt="RioTinto Logo" class="lazy"></a>
                </div>
              </div>
              <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                <div class="client-imgbox">
                  <a href="http://www.yancoal.com.au"><img src="/images/Yancoal_Logo.png" alt="Yancoal Logo" class="lazy"></a>
                </div>
              </div>
              <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                <div class="client-imgbox">
                  <a href="https://www.peabodyenergy.com"><img src="/images/Peabody_Energy_Logo.png" alt="Peabody Energy Logo" class="lazy"></a>
                </div>
              </div>
              <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                <div class="client-imgbox">
                  <a href="http://www.centennialcoal.com.au"><img src="/images/Centennial_Coal_Logo.png" alt="Centennial Coal Logo" class="lazy"></a>
                </div>
              </div>
              <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                <div class="client-imgbox">
                  <a href="http://www.bengalla.com.au"><img src="/images/Bengalla_Mining_Logo.png" alt="Bengalla Mining Logo" class="lazy"></a>
                </div>
              </div>
              <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                <div class="client-imgbox">
                  <a href="http://www.coffey.com/en/"><img src="/images/Coffey_Logo.png" alt="Coffey Logo" class="lazy"></a>
                </div>
              </div>
              <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                <div class="client-imgbox">
                  <a href="https://www.douglaspartners.com.au"><img src="/images/Douglas_Partners_Logo.png" alt="Douglas Patners Logo" class="lazy"></a>
                </div>
              </div>
              <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                <div class="client-imgbox">
                  <a href="https://www.ghd.com/en/index.aspx"><img src="/images/GHD_Logo.png" alt="GHD Logo" class="lazy"></a>
                </div>
              </div>
              <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                <div class="client-imgbox">
                  <a href="https://www.golder.com/"><img src="/images/Golder_Logo.png" alt="Golder Logo" class="lazy"></a>
                </div>
              </div>
              <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                <div class="client-imgbox">
                  <a href="http://www.shenhuawatermark.com/shaus/index.shtml"><img src="/images/Shenhua_Logo.png" alt="Shenghua Logo" class="lazy"></a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- "CLIENT GALLERY" block ends here -->









<!--add opacity to title-->
<script>
 $('#home-button').addClass("active"); 
</script>
<script>
 $('#sm-home-button').addClass("active"); 
</script>



<% include partials/footer %>