<% include partials/header %>


        <!-- banner goes here -->
        <section class="banner">
          <div class="innerBanner-bg" style="background-image: url(images/innerpage-banner-bg.jpg);">
            <div class="container">
              <div class="banner-text">
                <h1 class="pageTitle">Services</h1>
                <div class="breadcrumb-wrap">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item active">Services</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- banner ends here -->
        
        <!-- "Service Introductory" block ends here -->  
        <section class="banner">        
          <div class="service-blurb">
            <div class="container">
              <div class="row">
                <div class="col-12 col-sm-6 col-md-3 col-lg-3 js-servBox" data-os-animation="zoomIn" data-os-animation-delay="0.5s">
                  <div class="blurb-box">
                    <a href="#">
                      <span class="blurb-image"><img src="/images/Civil_Engineering.png" alt="Civil Engineering"></span>
                      <span class="title">Civil Engineering</span>
                    </a>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-3 js-servBox" data-os-animation="zoomIn" data-os-animation-delay="0.5s">
                  <div class="blurb-box">
                    <a href="#">
                      <span class="blurb-image"><img src="images/Geophyscial_Repair.png" alt="Equipment Repair"></span>
                      <span class="title">Equipment Repair</span>
                    </a>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-3 js-servBox" data-os-animation="zoomIn" data-os-animation-delay="0.5s">
                  <div class="blurb-box">
                    <a href="#">
                      <span class="blurb-image"><img src="/images/Mining_Exploration.png"alt="Mining Exploration"></span>
                      <span class="title">Exploration Review</span>
                    </a>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-3 js-servBox" data-os-animation="zoomIn" data-os-animation-delay="0.5s">
                  <div class="blurb-box">
                    <a href="#">
                      <span class="blurb-image"><img src="images/Logging_Review_Sm.png" alt="Logging Services"></span>
                      <span class="title">Logging Services</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- "Service Introduction blocks" block ends here -->  


<!-- "OUR SERVICE" block goes here -->
<section class="content content-ourservice" id="js-service">
  <div class="container">
   <div class="content-title">
    <h2 class="title"><span>how we work</span>list and procedure <br/>of service</h2>            
  </div>          
  <div class="row"> 
    <div class="col-12 col-sm-6 col-md-6 col-lg-6">        
     <div class="service-box">
      <a href="#">
       <span class="feature-img"><img src="images/Civil_Engineering_LG.png" alt="Our Service Feature Image" class="lazy"></span>
       <div class="box-detail">
          <span class="box-title">Civil Enginering</span>
          <span class="box-excerpt">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.
          </span>                  
        </div>
      </a>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-lg-6">        
   <div class="service-box">
    <a href="#">
     <span class="feature-img"><img src="images/Equipment_Repair_Lg.png" alt="Our Service Feature Image" class="lazy"></span>
     <div class="box-detail">
        <span class="box-title">Equipment Repair</span>
        <span class="box-excerpt">GroundSearch has an electronics workshop and technical personnel to enable repairs of Century Geophysical equipment in house. We also have the capacity for general repairs on similar equipment. 
      </span>                  
      </div>
      </a>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-lg-6">        
   <div class="service-box">
    <a href="#">
     <span class="feature-img"><img src="images/Mining_Exploration_Lg.png" alt="Our Service Feature Image" class="lazy"></span>
     <div class="box-detail">
        <span class="box-title">Exploration Review</span>
        <span class="box-excerpt">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.
      </span>                  
      </div>
    </a>
    </div>
  </div> 
  <div class="col-12 col-sm-6 col-md-6 col-lg-6">        
   <div class="service-box">
    <a href="#">
     <span class="feature-img"><img src="images/Logging_Service_Lg.png" alt="Our Service Feature Image" class="lazy"></span>
     <div class="box-detail">
        <span class="box-title">Logging Service</span>
        <span class="box-excerpt">GroundSearch carries an extensive inventory of downhole tools, in particular for coal and CSM logging operations. For example this includes Density, Neutron and Full Waveform Sonic Tools.
        </span>                  
      </div>
    </a>
    </div>
  </div>
  </div>              
</div>
</section>
<!-- "OUR SERVICE" block ends here -->  



<!-- "WHY CHOOSE PROJECTS" block goes here -->
<section class="content content-gap-top content-gap-bottom project-choice">
  <div class="container">
   <div class="row">
    <div class="col-12 col-sm-12 col-md-7 col-lg-6">
     <div class="content-title">
      <h2 class="title"><span>Few words about</span>Why choose us?</h2>
    </div>
    <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="card js-accord accordWrap">
        <div class="card-header" role="tab" id="headingOne">
          <h3 class="card-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <span class="re re-clock-1"></span>Professionalism and Commitment to Excellence
            </a>
          </h3>
        </div>

        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
          <div class="card-block">
            <p>Simply because we consistently acheive attainable KPIs and other obligations that save you money</p>
          </div>
        </div>
      </div>
      <div class="card js-accord">
        <div class="card-header" role="tab" id="headingTwo">
          <h3 class="card-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <span class="re re-handphone"></span>Always available
            </a>
          </h3>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="card-block">
           <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </p>
         </div>
       </div>
     </div>
     <div class="card js-accord">
      <div class="card-header" role="tab" id="headingThree">
        <h3 class="card-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <span class="re re-briefcase"></span>Professional and responsible
          </a>
        </h3>
      </div>
      <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-block">
          <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </p>
        </div>
      </div>
    </div>
  </div>    
</div>
<div class="col-12 col-sm-12 col-md-5 col-lg-6">
 <img src="images/truck.png" alt="Truck" class="float-md-right" class="lazy">
</div>
</div>
</div>
</section>  
<!-- "WHY CHOOSE PROJECTS" block ends here --> 

<script>
 $('#services-button').addClass("active"); 
</script>
<script>
 $('#sm-services-button').addClass("active-smaller-header-list"); 
</script>

<% include partials/footer %>