<% include partials/header %>

<h1>Service Page</h1>




<script>
 $('#services-button').addClass("active"); 
</script>
<script>
 $('#sm-services-button').addClass("active-smaller-header-list"); 
</script>

<% include partials/footer %>